<div class="top-bar">
    <div class="content-topbar flex-sb-m h-full container">
        <div class="left-top-bar">
           
        </div>

        <div class="right-top-bar flex-w h-full">
            <a href="/Contact" class="flex-c-m trans-04 p-lr-25">
                Help & FAQs
            </a>

            <% if (locals.findUser) { %>
                <a href="/Account" class="flex-c-m trans-04 p-lr-25">
                <%= findUser.name%>
                <% } else { %>
            <a href="#" class="flex-c-m p-lr-10 trans-04">
                        Guest User
                    </a>
                    <%}%>
            </a>

            <!-- Login and Register icons as small buttons -->
            <% if (locals.findUser) { %>
                <a href="/logOut" class="btn btn-small flex-c-m trans-04 p-lr-10">
                    <i class="zmdi zmdi-sign-in"></i> Logout
                </a>
            <% } else { %>
                <a href="/Login" class="btn btn-small flex-c-m trans-04 p-lr-10">
                    <i class="zmdi zmdi-account"></i> Login
                </a>

                <a href="/Register" class="btn btn-small flex-c-m trans-04 p-lr-10">
                    <i class="zmdi zmdi-assignment"></i> Register
                </a>
            <% } %>
        </div>
    </div>
</div>
