<div class="main-header">
    <div class="main-header-logo">
      <!-- Logo Header -->
      <div class="logo-header" >
        <a href="index.html" class="logo">
          <img
            src="/userHandler/img/kaiadmin/soleWayLogo.png"
            alt="navbar brand"
            class="navbar-brand"
            height="20"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <!-- Navbar Header -->
    <nav
  class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
>
  <div class="container-fluid">
    <nav
      class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
    >
      <div class="input-group">
        <div class="input-group-prepend"></div>
      </div>
    </nav>

    <ul class="navbar-nav topbar-nav ms-md-auto align-items-center" style="flex: 1; justify-content: center;">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productShop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  <% if (locals.findUser) { %>
    <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
      <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
        <i class="fa fa-search"></i>
      </li>
      <li class="nav-item topbar-icon dropdown hidden-caret"></li>
      <li class="nav-item topbar-icon dropdown hidden-caret"></li>
      <li class="nav-item topbar-icon dropdown hidden-caret"></li>
      <li class="nav-item topbar-user dropdown hidden-caret">
        <span class="profile-username">
          <span class="fw-bold"><%= findUser.name %></span>
        </span>
        <ul class="dropdown-menu dropdown-user animated fadeIn">
          <div class="dropdown-user-scroll scrollbar-outer">
            <li>
              <div class="user-box">
                <div class="u-text">
                  
                        <h4><%= findUser.name %></h4>
                    
                  
                  <p class="text-muted"></p>
                  <a href="profile.html" class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">My Profile</a>
              <a class="dropdown-item" href="#">My Balance</a>
              <a class="dropdown-item" href="#">Inbox</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Account Setting</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </div>
        </ul>
      </li>
    </ul>
    <% } %>
  </div>
</nav>

  
    <!-- End Navbar -->
  </div>
